@model Employee

<form method="post" asp-action="Delete">
	<input asp-for="EmployeeID" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Employee</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="EmployeeName"></label>
			<input asp-for="EmployeeName" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Department"></label>
			<input asp-for="Department" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Salary"></label>
			<input asp-for="Salary" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Employee" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}